.movie-detail-container {
    background-color: #232323;
    padding: 30px;
    margin: 0 auto;
    max-width: 1200px;
}

.movie-overview-content {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.movie-detail-poster {
    flex: 1 1 400px;
    max-width: 400px;
    overflow: hidden;
    border-radius: 15px;
}

.poster-img {
    width: 100%;
    border-radius: 15px;
}

.movie-detail-info {
    flex: 1;
}

.movie-title {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffffff;
}

.movie-subtitle {
    font-size: 24px;
    margin-bottom: 10px;
    color: #05B9DC;
}

.movie-overview {
    font-size: 18px;
    line-height: 1.6;
    margin: 50px 0;
    color: #cccccc;
}

.movie-release-date {
    font-size: 18px;
    margin-bottom: 20px;
    color: #05B9DC;
}

.btn {
    background-color: #05B9DC;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0495b0;
}

.trailer-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.trailer-container {
    position: relative;
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 900px;
}

.close-trailer {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: #fff;
    font-size: 24px;
    border: none;
    cursor: pointer;
}
