/* Navbar css */

.nav {
    background-color: #1c1c1c;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease, top 0.3s ease;
}

.nav.hidden {
    transform: translateY(-100%);
    top: -60px;
}

.nav.show {
    transform: translateY(0);
    top: 0;
}

.nav-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    margin: 0;
    list-style: none;
}

.nav-items li {
    list-style-type: none;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-link, .nav-btn {
    color: #fff;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 20px;
    transition: background-color 0.3s;
    font-size: 16px;
    cursor: pointer;
    background: none;
    border: none;
    display: inline-block;
}

.nav-link:hover, .nav-btn:hover {
    background-color: #383838;
}

.nav-auth {
    display: flex;
    gap: 15px;
}

.nav-items .nav-btn:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .nav-items {
        flex-direction: column;
        gap: 10px;
    }

    .nav-auth {
        flex-direction: column;
        gap: 10px;
    }
}
