/* Footer */

footer {
    background-color: #1c1c1c;
    color: #fff;
    padding: 40px 0;
    font-size: 14px;
    text-align: center;
    width: 100%;  /* Full width */
    box-sizing: border-box;
    margin: 0;
}

.footer-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 50px;
}

.footer-col {
    flex: 1;
    min-width: 75px;
    max-width: 170px;
    text-align: left;
}

.footer-col img {
    margin-bottom: 20px;
    width: 70%;
}

.footer-col b {
    margin-bottom: 25px;
    font-size: 16px;
}

.footer-col a {
    display: block;
    margin: 5px 0;
    color: #05B9DC;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.footer-col a:hover {
    color: #ffffff;
}

.footer-col p {
    color: #05B9DC;
}

@media (max-width: 768px) {
    .footer-flex {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 100%;
    }

    .footer-col {
        min-width: 100%;
        text-align: center;
    }

    footer {
        padding: 20px 0;
    }
}
